/* You can add global styles to this file, and also import other style files */
.calculator-body {
  input {
    width: 100%;
    text-align: right;
  }
  td {
    padding: 0 !important;
    margin: 0;
  }
  button {
    width: 100%;
    height: 100%;
    border: none !important;

    &:active {
      box-shadow: 0 1px #666;
      transform: translateY(1px);
    }
  }
}
